<div class="flex flex-col divide-y divide-gray-200">
  <li>
      <h3 class="mb-2 text-xl font-extrabold leading-snug tracking-tight text-gray-800 md:text-3xl"> <%= article.title %></h3>
      <p class="mb-4 text-base font-normal text-gray-600"> <%= article.description %></p>
  </li>
<div><br/>
